@charset "UTF-8";


#logo{
    width: 20%;
    justify-content: center;
}
.social{
    font-size: xx-large;
    color: #ffffff;
}

.titleTop{
    margin: 10% 30% 0 30%;
    text-align: center;
}

.welcome-message{
    text-align: center;
}

.container {
    margin: 0 30% 0 42%;
    padding: 40px 50px 40px 50px; /* ←テキストの上→右→下→左の余白を設定 */
    border: 1px solid #3c4767;
    border-radius: 15px;
    width: 17%;
    color: black;
    background-color: rgba(128, 128, 128, 0.3);
}

.label{
    margin: 0% 10% 10% 10%;
}

.btn{
    margin: 0% 10% 10% 50%;
}

.loginBtn{
    margin: 0% 65% 0% 0%;
}

.added{
    color: #ffffff;
}

.margin{
    margin-top: 30px;
}

.textCenter{
    text-align: center;
}

body {
    height: 100vh;
    background-image: linear-gradient(0deg, #ffe32d 0%, #227acc 100%);
    color: black;

}

.register-link a {
    color: #ffffff;
    text-decoration: underline;
    display: flex;
    flex-wrap: nowrap;
}

input {
    display: block;
    margin: 0% 10% 5% 10%;
    border-radius: 5px;
}
