@charset "utf-8";

html {}

body {}

/* header */
header {
    background: #186AC9;
}

/* main content */

.post {
    text-align: center;
    position: relative;
}

.post img {
    float: left;
    /* アイコン画像を左に移動 */
    margin-right: 10px;
    /* テキストエリアとの間に余白を追加 */
}

.post textarea {
    display: block;
    /* ブロック要素として表示 */
    width: calc(100% - 50px);
    /* テキストエリアの幅を調整 */
    border-bottom: 5px solid #727272;
    /* もっと下にいれたいから明日以降考える */
}

.submit {
    float: right;
    margin: 0px 10px 20px 0px;
}

#row {
    display: flex;
    flex-flow: row wrap;
}

#container {
    flex: 0 0 80%;
}

#side-bar {
    flex: 0 0 19%;
    border-left: 1px solid #727272;
}

.accordion-button {
    background-color: #186AC9;
    color: white;
    border: none;
    cursor: pointer;
    padding: 10px 20px;
    text-align: left;
    width: 100%;
    outline: none;
    position: relative;
}

.accordion-collapse {
    display: none;
}

.accordion-button::after {
    content: "＾";
    /* 矢印を下向きに表示 */
    position: absolute;
    right: 20px;
    font-size: 1.2em;
    transition: transform 0.3s ease;
    transform: rotate(180deg);
}

.accordion-button.collapsed::after {
    transform: rotate(0deg);
    /* 矢印を上下反転させる */
}

.accordion-body {
    padding: 20px;
    background-color: #f1f1f1;
    display: none;
}

.accordion-body.show {
    display: block;
}
