@charset "utf-8";

html {
    height: 100%;
}

body {
    height: 100%;
}

/* header */
header {
    background: #186AC9;
    height: 100px;
}

#atlas{
    margin: 20px;
    width: 150px;
}

#head{
    display: flex;
    flex-wrap: nowrap;
}

.flex {
    display: flex;
    justify-content: right;
    align-items: center;
}

.loginUsername {
    font-size: 20px;
    color: #fff;
    position: absolute;
    top: 45px;
    right: 160px;
}

#icon{
    position: absolute;
    top: 18px;
    right: 30px;
    width: 80px;
    height: 70px;
    border-radius: 50%;
}

/* main content */

.post {
    top: 30px;
    position: relative;
    text-align: center;
}

.post img {
    position: absolute;
    left: 2%;
    /* アイコン画像を左に移動 */
    margin-right: 10px;
    /* テキストエリアとの間に余白を追加 */
}

.formTag{
    display: block;
    padding: 40px;
    border-bottom: solid 8px #e0e0e0;
}

#post_id {
    width: 80%;
    border: none;
}

.post textarea {
    border-bottom: 5px solid #727272;
    /* もっと下にいれたいから明日以降考える */
}

#post-button{
    top: 85px;
    right: 440px;
}

.submit {
    float: right;
    margin: 0px 10px 20px 0px;
}

#row {
    position: relative;
    display: flex;
    /* flex-flow: row wrap; */
}

#container {
    flex: 0 0 80%;
}

#side-bar {
    height: 100vh;
    width: 100vw;
    flex: 0 0 20%;
    border-left: 1px solid #727272;
    display: block;
    color: black;
}

#confirm{
    font-size: 20px;
    border-bottom: 1px solid #727272;
}

.authUser{
    margin: 10px 0 0 10px;
}

.followCount{
    margin-top: 10px;
    display: flex;
    color: black;
    font-size: 15px;
    justify-content: space-around;
    width: 50%;
}


.followBtn{
    margin: 30px 0px 50px 90px;
    width: 120px
}

.searchBtn{
    margin-top: 30px;
    text-align: center;
}

.atlasLogo{
    position: absolute;
    padding-left: 10px;
    display: flex;
    color: #fff;
}

/* アコーディオンメニュー */
.accordion-button {

    position: absolute;
    top: 50px;
    right: 100px;
    cursor: pointer;

}

.accordion-button::after {
    border-right: solid 3px #fff;
    border-top: solid 3px #fff;
    content: "";
    display: block;
    height: 8px;
    width: 8px;
    position: absolute;
    right: 25px;
    top: 38%;
    -webkit-transform: rotate(135deg)!important;
    transform: rotate(135deg)!important;
    transition: 0.5s;
}

.accordion-button.open::after {
    top: 45%;
    -webkit-transform: rotate(-45deg)!important;
    transform: rotate(-45deg)!important;
    transition: 0.5s;
    /* 矢印を上下反転させる */
}

.accordion-content {
    display: none;
    list-style: none;
    border: solid 1px #00297e;
    position: absolute;
    top: 100px;
    right: 1px;
    width: 20%;
    z-index: 10;
}

.accordion-content li a{
    display: block;
    font-size: large;
    text-align: center;
    border-bottom: solid 1px #00297e;
    padding-bottom: 40px;
    padding-top: 40px;
    width: 100%;
    color: #848484;
    background-color: #fff;
}

.accordion-content li a:hover {
    background-color: #00297e;
    color: #fff;
}


.content {
    padding: 25px;
    width: 100%;
    border-bottom: solid 1px #00297e;
    position: relative;
}

#pstIcon{
    position: absolute;
    top: 28%;
    left: 22%;
}

.cont{
    margin: 10px 10px 10px 10px;
    display: flex;
    margin-left: 30%;
}


.date{
    position: absolute;
    top: 10px; /* 親要素の上端に配置 */
    right: 100px;
}

.button-wrapper{
    display: flex;
    justify-content: right;
}


.modal {
    display: none;
    height: 100vh;
    position: fixed;
    top: 0;
    width: 100%;
}

.modal__bg {
    background-color: rgba(220, 220, 220, 0.2);
    height: 200vh;
    position: absolute;
    width: 100%;
}

.modal__content {
    background: #fff;
    left: 50%;
    padding: 40px;
    position: absolute;
    top: 40%;
    transform: translate(-50%, -50%);
    width: 30%;
    height: 35%;
    border-radius: 15px;
}

.modal_update{
    width: 100%;
    border: 1px solid #727272;
}

.editIcon{
    position: absolute;
    top: 80%;
    left: 50%;
}

#contentProf{
    display: flex;
}

#iconProf {
    position: absolute;
    margin: 130px 0px 0 50px;
}

.table-center{
    position: absolute;
    margin: 100px 80px 30px 80px;
    text-align: center;
}

.profileContent{
    position: relative;
    text-align: center;
    margin: 30px;
    font-size: large;
}
.profile-label{
    margin-bottom: 50px;
    height: 30px;
    width: 500px;
    text-align: left;
}

.form-control{
    background-color: #efefef;
    color: black;
}

#form_image{
    justify-content: center; /* 横中央揃え */
    align-items: center; /* 縦中央揃え */
}

input[type="image_icon"] {
    display: none;
}

.form-controller{
    display: flex;
    background-color: #efefef; /* 白い背景色 */
    border: 1px solid #efefef; /* 四角い枠（少し小さめに調整可） */
    width: 200px; /* 四角い枠の幅調整例 */
    height: 80px; /* 四角い枠の高さ調整例 */
    border-radius: 5px; /* 角を少し丸める場合 */
    color: transparent;
}

.btn btn-danger{
    color: #fff;
    width: 30px;
}

.search-word{
    margin: 0 0 0 500px;
}
.search-wrapper {
    display: block;
    margin: 50px 0 0 50px;
    text-align: left;
}

.search {
    padding-top: 30px;
    padding-left: 30px;
    padding-bottom: 30px;
    border-bottom: solid 8px #e0e0e0;
    display: flex;
}

.search-flex{
    display: flex;
    justify-content: space-around;
}

.search-icon{
    margin-top: 30px;
    display: flex;
    padding-left: 100px;
    align-items: center;
    justify-content: center;
}

#searchIcon{
    margin-right: 20px;
    align-items: center;
}

.username{
    align-items: center;
}

.search-follow{
    margin-top: 30px;
    display: block;
    padding-left: 100px;
    justify-content: center;
}

.btn-success{
    all: unset;
}

.search-word{
    font-size: large;
}

.follow-title{
    font-size: xx-large;
    margin: 30px 60px 10px 60px;
}

.follow-icon-list{
    display: flex;
    border-bottom: solid 8px #e0e0e0;
}

.follow-icon{
    margin: 3% 0% 3% 3%;
}

.userProfile{
    display: flex;
    border-bottom: solid 8px #e0e0e0;
    padding: 40px;
    width: 100%;
    position: relative;
}

.userPro-wrapper{
    display: block;
    margin: 0% 10% 0% 5%;
}

#userProf{
    margin: 10px 30px 30px 10px;
}

.userPro{
    display: block;
    flex-wrap: wrap;
}

.userFollow{
    margin: 15% 3% 3% 300%;
    justify-content: right;
}

.postProf{
    margin: 30px 0 30px 300px;
}

#postIcon{
    margin: 30px 0 30px 300px;

}
